@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto-Black'), url(./Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: local('Roboto-BlackItalic'),
    url(./Roboto-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(./Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local('Roboto-BoldItalic'),
    url(./Roboto-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto-Italic'), url(./Roboto-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local('Roboto-LightItalic'),
    url(./Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url(./Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: local('Roboto-MediumItalic'),
    url(./Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(./Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: local('Roboto-ThinItalic'),
    url(./Roboto-ThinItalic.ttf) format('truetype');
}
