.login {
  &__inner {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20% 0;
    margin: 0 auto;
    align-content: center;
  }

  &__buttons {
    margin: 10px;
    display: flex;
    justify-content: space-around;
  }
}