@import '../../../styles/variables';

.themeSwitcher {
  display: block;
  width: 60px;
  height: 25px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  position: relative;
  transition: all 0.5s;
  border: 1px solid $alfa;
  outline: none;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: 2;
    top: 2px;
    left: 2px;
  }

  &.active {
    background-color: var(--secondary-color);
  }

  &.active::after {
    left: 37px;
  }
}
