// colors
<<<<<<< HEAD
$main-black: #000;
=======
:root {
  --main-color: #ededed;
  --secondary-color: #231e1f;
  --logo-bg: #231e1f;
  --active-color: orange;
  --about-bg-color: white;
  --image: url('../assets/images/main-dark.gif');
}
>>>>>>> 4d864424322ef8130299d8a575daa7a659565a20
// component sizes

// paddings

// borders

// shadows
