// colors

$main-black: #000;
:root {
  --main-color: #ededed;
  --secondary-color: #231e1f;
  --logo-bg: #231e1f;
  --active-color: orange;
  --about-bg-color: white;
  --image: url('../assets/images/main-dark.gif');
}

// component sizes

// paddings

// borders

// shadows
