@font-face {
  font-family: 'Ubuntu-Light';
  src: local('Ubuntu-Light'), url(./Ubuntu-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: local('Ubuntu-Regular'), url(./Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: local('Ubuntu-Medium'), url(./Ubuntu-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: local('Ubuntu-Bold'), url(./Ubuntu-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: local('Ubuntu-Italic'), url(./Ubuntu-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: local('Ubuntu-LightItalic'),
    url(./Ubuntu-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: local('Ubuntu-MediumItalic'),
    url(./Ubuntu-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: local('Ubuntu-BoldItalic'),
    url(./Ubuntu-BoldItalic.ttf) format('truetype');
}
